# Flutter
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock

# Android
android/app/google-services.json
android/key.properties
*.keystore
*.jks

# iOS
ios/Runner/GoogleService-Info.plist
Pods/
